<html xmlns="http://www.w3.org/1999/xhtml"><head><style id="xml-viewer-style">/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

div.header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin: 10px;
}

div.folder &gt; div.hidden {
    display:none;
}

div.folder &gt; span.hidden {
    display:none;
}

.pretty-print {
    margin-top: 1em;
    margin-left: 20px;
    font-family: monospace;
    font-size: 13px;
}

#webkit-xml-viewer-source-xml {
    display: none;
}

.opened {
    margin-left: 1em;
}

.comment {
    white-space: pre;
}

.folder-button {
    -webkit-user-select: none;
    cursor: pointer;
    display: inline-block;
    margin-left: -10px;
    width: 10px;
    background-repeat: no-repeat;
    background-position: left top;
    vertical-align: bottom;
}

.fold {
    background: url("data:image/svg+xml,&lt;svg xmlns='http://www.w3.org/2000/svg' fill='%23909090' width='10' height='10'&gt;&lt;path d='M0 0 L8 0 L4 7 Z'/&gt;&lt;/svg&gt;");
    height: 10px;
}

.open {
    background: url("data:image/svg+xml,&lt;svg xmlns='http://www.w3.org/2000/svg' fill='%23909090' width='10' height='10'&gt;&lt;path d='M0 0 L0 8 L7 4 Z'/&gt;&lt;/svg&gt;");
    height: 10px;
}
</style></head><body><div id="webkit-xml-viewer-source-xml"><ri:index xmlns:ri="http://genologics.com/ri">
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/artifactgroups" rel="artifactgroups"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/artifacts" rel="artifacts"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/configuration/automations" rel="configuration/automations"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/configuration/protocols" rel="protocols"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/configuration/udfs" rel="udfs"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/configuration/udts" rel="udts"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/configuration/workflows" rel="workflows"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/containers" rel="containers"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/containertypes" rel="containertypes"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/controltypes" rel="controltypes"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/files" rel="files"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/instruments" rel="instruments"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/labs" rel="labs"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/permissions" rel="permissions"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/processes" rel="processes"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/processtemplates" rel="processtemplates"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/processtypes" rel="processtypes"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/projects" rel="projects"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/reagentkits" rel="reagentkits"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/reagentlots" rel="reagentlots"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/reagenttypes" rel="reagenttypes"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/researchers" rel="researchers"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/roles" rel="roles"/>
    <link xmlns="" uri="http://127.0.0.1:5000/api/v2/samples" rel="samples"/>
</ri:index></div><div class="header"><span>This XML file does not appear to have any style information associated with it. The document tree is shown below.</span><br /></div><div class="pretty-print"><div class="folder" id="folder0"><div class="line"><span class="folder-button fold"></span><span class="html-tag">&lt;ri:index<span class="html-attribute"> <span class="html-attribute-name">xmlns:ri</span>="<span class="html-attribute-value">http://genologics.com/ri</span>"</span>&gt;</span></div><div class="opened"><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/artifactgroups</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">artifactgroups</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/artifacts</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">artifacts</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/configuration/automations</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">configuration/automations</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/configuration/protocols</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">protocols</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/configuration/udfs</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">udfs</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/configuration/udts</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">udts</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/configuration/workflows</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">workflows</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/containers</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">containers</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/containertypes</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">containertypes</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/controltypes</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">controltypes</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/files</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">files</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/instruments</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">instruments</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/labs</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">labs</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/permissions</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">permissions</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/processes</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">processes</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/processtemplates</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">processtemplates</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/processtypes</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">processtypes</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/projects</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">projects</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/reagentkits</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">reagentkits</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/reagentlots</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">reagentlots</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/reagenttypes</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">reagenttypes</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/researchers</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">researchers</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/roles</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">roles</span>"</span>/&gt;</span></div><span>
    </span><div class="line"><span class="html-tag">&lt;link<span class="html-attribute"> <span class="html-attribute-name">uri</span>="<span class="html-attribute-value">http://127.0.0.1:5000/api/v2/samples</span>"</span><span class="html-attribute"> <span class="html-attribute-name">rel</span>="<span class="html-attribute-value">samples</span>"</span>/&gt;</span></div><span>
</span></div><span class="folded hidden">...</span><div class="line"><span class="html-tag">&lt;/ri:index&gt;</span></div></div></div></body></html>